.nav-bar {
  background-color: rgb(175, 175, 175);
  text-align: right;
}

.nav-page h1 {
  text-align: center;
  font-family: cursive;
  font-size: 42px;
  color: rgb(13, 138, 196);
}

.nav-bar a {
  text-decoration: underline;
  color: black;
}

.nav-bar a:hover {
  color: rgb(41, 141, 235);
}
