h1 {
  text-align: center;
}

.signup-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px 20%;
  background-color: rgb(182, 182, 182, 0.9);
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.signup-name {
  display: flex;
  justify-content: space-between;
}

label {
  text-align: left;
}

.warning {
  color: rgb(231, 95, 95);
  font-size: 12px;
}

button {
  background-color: rgb(148, 158, 168);
  color: black;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  border-radius: 8px;
}

button:hover {
  color: dodgerblue;
  background-color: #fff;
}
