.signup-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 25%;
}

label {
  text-align: left;
}

.warning {
  color: rgb(231, 95, 95);
  font-size: 12px;
}

button {
  background-color: dodgerblue;
  color: #fff;
  width: 100px;
  height: 30px;
  border-radius: 8px;
}

button:hover {
  color: dodgerblue;
  background-color: #fff;
}
